<div class="background">
  <div class="container my-5">
    <div class="card-body">
      <h1 class="text-center mb-4 fs-1">Menu</h1> <!-- Enlarged using fs-1 -->
      <div *ngFor="let category of categories" class="mt-4">
        <h3 class="text-white  fs-3">{{ category }}</h3> <!-- Enlarged using fs-3 -->
        <div class="row">
          <div class="col-md-4" *ngFor="let product of getProductsByCategory(category)">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title fs-4">{{ product.name }}</h5> <!-- Enlarged using fs-4 -->
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
