<div class="background">
  <!-- Sticker Image near Menu Title, centered on the page -->
  <div class="d-flex justify-content-center align-items-center mb-4">
    <h1 class=" me-4" 
      style="font-family: 'Pacifico', cursive; font-size: 50px; font-style: italic; color: #000000;">
            Menu
          </h1>
    <div class="sticker">
      <img src="https://ih1.redbubble.net/image.5283951065.0480/tst,small,507x507-pad,600x600,f8f8f8.webp" 
           alt="Coffee Sticker" 
           class="img-fluid rounded-circle shadow" style="width: 150px; height: 150px;">
    </div>
  </div>
  <div class="container my-5">
    
    <div class="card-body">
      <a href="/CartComponent" class="btn btn-light text-brown cart-link">
        <span style="font-size: 1rem;">☕</span> My Tray
      </a>
      <div *ngFor="let category of categories" class="mt-4">
        <h3 class="text-white fs-3">✨{{ category }} ✨</h3>
        <div class="row">
          <div class="col-md-4" *ngFor="let product of getProductsByCategory(category)">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title fs-4">{{ product.productName }}</h5>
                <p class="card-text"><strong>Price:</strong> Rs.{{ product.price }}</p>
               
                <button 
                      class="btn btn-coffee d-flex align-items-center justify-content-center"
                      (click)="addToCart(product.productId)">
                       Add to My Tray
                 </button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
