
/* Background Styling */
.background {
    background-image: url('https://images.unsplash.com/photo-1521017432531-fbd92d768814?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FmZXxlbnwwfHwwfHx8MA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  }
  /* Transparent Jumbotron Section */
.container {
   
    color: #fff;
    border-radius: 8px;
    padding: 2rem;
   
  }