<div class="container mt-5">
    <div class="jumbotron text-center bg-light py-5">
      <h1 class="display-4">Welcome to Coffee Shop!</h1>
      <p class="lead">Discover our wide range of products and enjoy the best coffee in town.</p>
      <hr class="my-4">
      <p>Click below to explore our menu and shop.</p>
      <a class="btn btn-primary btn-lg" href="/menu" role="button">Explore Menu</a>
    </div>
  
    <div class="row text-center mt-5">
      <div class="col-md-4">
        <div class="card">
          <img src="https://media.istockphoto.com/id/1400194993/photo/cappuccino-art.jpg?s=612x612&w=0&k=20&c=_nYOcyQ15cYEeUYgUzkC5qG946nkCwU06NiWKt1s8SE=" class="card-img-top" alt="Coffee">
          <div class="card-body">
            <h5 class="card-title">Best Coffee</h5>
            <p class="card-text">Try premium brewed coffee with an exquisite taste.</p>
            <a href="/menu" class="btn btn-outline-primary">Order Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="https://media.istockphoto.com/id/1975776233/photo/parisian-morning-delights-street-cafe-breakfast-scene-on-a-sunny-day-in-saint-germain-des.jpg?s=612x612&w=0&k=20&c=7PZxnZP0UASJngv3IG5XFXNucia0Ho71w3lsVSx2KpE=" class="card-img-top" alt="Snacks">
          <div class="card-body">
            <h5 class="card-title">Delicious Snacks</h5>
            <p class="card-text">Pair your coffee with our freshly prepared snacks.</p>
            <a href="/menu" class="btn btn-outline-primary">Explore Snacks</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="https://media.istockphoto.com/id/860182950/photo/food.jpg?s=612x612&w=0&k=20&c=AKudyqBKezuhr4ySRlZaM892sq-vF1CoH_N0SMmPF5g=" class="card-img-top" alt="Desserts">
          <div class="card-body">
            <h5 class="card-title">Sweet Treats</h5>
            <p class="card-text">Indulge in our desserts and make your day sweeter.</p>
            <a href="/menu" class="btn btn-outline-primary">Try Desserts</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  